name: Dev CD

on:
  push:
    branches: [ master ]

jobs:
  build:
  
    runs-on: ubuntu-latest
    steps:
      - name: Connect VPS and deploy changes
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            cd /home/node/ci-cd/
            git pull
            npm i
            pm2 restart ci-cd